<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <service
            android:name=".MessageListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

    </application>
</manifest>
