<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"
        />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions"
        />

    <application
        android:allowTaskReparenting="false"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute"
        >

        <!-- TODO: Remove once minSdkVersion has been changed to 24+ -->
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true"
            />
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"
            />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"
            />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.penwindow.enable"
            android:value="true"
            />
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true"
            />

        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupComposition"
            android:configChanges="locale"
            android:label="@string/account_settings_composition_title"
            />

        <activity
            android:name="com.fsck.k9.ui.choosefolder.ChooseFolderActivity"
            android:configChanges="locale"
            android:label="@string/choose_folder_title"
            android:noHistory="true"
            />

        <activity
            android:name="com.fsck.k9.activity.ChooseIdentity"
            android:configChanges="locale"
            android:label="@string/choose_identity_title"
            />

        <activity
            android:name="com.fsck.k9.activity.ManageIdentities"
            android:configChanges="locale"
            android:label="@string/manage_identities_title"
            />

        <activity
            android:name="com.fsck.k9.activity.EditIdentity"
            android:configChanges="locale"
            android:label="@string/edit_identity_title"
            />

        <activity
            android:name="com.fsck.k9.ui.endtoend.AutocryptKeyTransferActivity"
            android:configChanges="locale"
            android:label="@string/ac_transfer_title"
            />

        <activity
            android:name="com.fsck.k9.activity.MessageList"
            android:launchMode="singleTop"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_EMAIL" />

                <!-- TODO: Remove once minSdkVersion has been changed to 24+ -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.PENWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="messages"
                    android:scheme="k9mail"
                    />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
        This component is disabled by default. It will be enabled programmatically after an account has been set up.
        -->
        <activity
            android:name="com.fsck.k9.activity.MessageCompose"
            android:configChanges="locale"
            android:enabled="false"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.autocrypt.PEER_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fsck.k9.activity.Search"
            android:label="@string/search_action"
            android:exported="false"
            />

        <activity
            android:name="com.fsck.k9.activity.UpgradeDatabases"
            android:label="@string/upgrade_databases_title"
            />

        <activity
            android:name="com.fsck.k9.ui.managefolders.ManageFoldersActivity"
            android:label="@string/folders_action"
            />

        <activity
            android:name="com.fsck.k9.ui.settings.SettingsActivity"
            android:label="@string/prefs_title"
            />

        <activity
            android:name="com.fsck.k9.ui.settings.general.GeneralSettingsActivity"
            android:label="@string/general_settings_title"
            />

        <activity
            android:name="com.fsck.k9.ui.settings.account.AccountSettingsActivity"
            android:label="@string/account_settings_title_fmt"
            />

        <activity
            android:name="com.fsck.k9.ui.messagesource.MessageSourceActivity"
            android:label="@string/show_headers_action"
            />

        <activity
            android:name="com.fsck.k9.ui.changelog.RecentChangesActivity"
            android:label="@string/changelog_recent_changes_title"
            />

        <activity
            android:name="com.fsck.k9.ui.push.PushInfoActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/push_info_title"
            android:taskAffinity="${applicationId}.push_info"
            >
            <intent-filter>
                <action android:name="app.k9mail.action.PUSH_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- This component is disabled by default. It will be enabled programmatically if necessary. -->
        <receiver
            android:name="com.fsck.k9.controller.push.BootCompleteReceiver"
            android:exported="false"
            android:enabled="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.fsck.k9.notification.NotificationActionService" />

        <service
            android:name="com.fsck.k9.service.DatabaseUpgradeService"
            android:exported="false"
            />

        <service
            android:name="com.fsck.k9.controller.push.PushService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            />

        <provider
            android:name="com.fsck.k9.provider.AttachmentProvider"
            android:authorities="${applicationId}.attachmentprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="de.cketti.safecontentresolver.ALLOW_INTERNAL_ACCESS"
                android:value="true"
                />

        </provider>

        <provider
            android:name="com.fsck.k9.provider.RawMessageProvider"
            android:authorities="${applicationId}.rawmessageprovider"
            android:exported="false"
            >

            <meta-data
                android:name="de.cketti.safecontentresolver.ALLOW_INTERNAL_ACCESS"
                android:value="true"
                />

        </provider>

        <provider
            android:name="com.fsck.k9.provider.DecryptedFileProvider"
            android:authorities="${applicationId}.decryptedfileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/decrypted_file_provider_paths"
                />
        </provider>

        <provider
            android:name="com.fsck.k9.provider.AttachmentTempFileProvider"
            android:authorities="${applicationId}.tempfileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/temp_file_provider_paths"
                />

            <meta-data
                android:name="de.cketti.safecontentresolver.ALLOW_INTERNAL_ACCESS"
                android:value="true"
                />
        </provider>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            >

            <!-- The library's default intent filter with `appAuthRedirectScheme` replaced by `applicationId` -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}" />
            </intent-filter>

            <!-- Microsoft uses a special redirect URI format for Android apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="msauth"
                    android:host="${applicationId}"
                    />
            </intent-filter>
        </activity>

    </application>
</manifest>
