<?xml version="1.0" encoding="utf-8"?>
<!--
TODO: This file only exists for manual testing during development. Remove when integrating the feature into the app.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application
        android:name=".ui.QrCodeApplication"
        tools:ignore="MissingApplicationIcon"
        >

        <activity
            android:name=".ui.QrCodeScannerActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
