<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <queries>
        <provider android:authorities="net.discdd.datastore.providers.MessageProvider" />
    </queries>
    <uses-permission
        android:name="net.discdd.bundleclient.permission.MESSAGE_PROVIDER_READ"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="net.discdd.bundleclient.permission.MESSAGE_PROVIDER_WRITE"
        android:protectionLevel="normal" />
    <application
        android:name="app.k9mail.K9App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- We're using on-demand initialization for WorkManager -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>

        <!-- This component is disabled by default (if possible). It will be enabled programmatically if necessary. -->
        <!-- IMPORTANT: The component name must be `com.fsck.k9.widget.list.MessageListWidgetProvider` and can't be changed. -->
        <receiver
            android:name="com.fsck.k9.widget.list.MessageListWidgetProvider"
            android:icon="@drawable/message_list_widget_preview"
            android:label="@string/message_list_widget_label"
            android:enabled="@bool/home_screen_widgets_enabled"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/message_list_widget_info"
                />
        </receiver>

        <!-- This component is disabled by default (if possible). It will be enabled programmatically if necessary. -->
        <!-- IMPORTANT: The component name must be `com.fsck.k9.provider.UnreadWidgetProvider` and can't be changed. -->
        <receiver
            android:name="com.fsck.k9.provider.UnreadWidgetProvider"
            android:label="@string/unread_widget_label"
            android:enabled="@bool/home_screen_widgets_enabled"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unread_widget_info" />
        </receiver>

    </application>
</manifest>
