<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <application
        android:name="app.k9mail.K9App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" />
</manifest>
