<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".UnreadWidgetChooseAccountActivity"
            android:configChanges="locale"
            android:label="@string/unread_widget_choose_account_title"
            android:noHistory="true"
            />

        <activity
            android:name=".UnreadWidgetConfigurationActivity"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
