#Android specific
bin
gen
obj
lint.xml
local.properties
release.properties
ant.properties
*.class
*.apk

#Gradle
.gradle
build
gradle.properties

#Maven
target
pom.xml.*

#Eclipse
.project
.classpath
.settings
.metadata

#IntelliJ IDEA
.idea
*.iml
