name: "Validate Workflows"

on:
  pull_request:
  workflow_dispatch:
    inputs:
      dryRun:
        type: boolean
        description: Dry run
        default: true
      debug:
        type: boolean
        description: Debug mode
        default: false

permissions:
  contents: read

jobs:
  validate-workflows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Ensure GitHub actions are SHA pinned
        env:
          DRY_RUN: ${{ !inputs.dryRun && '--no-dry-run' || '' }}
          DEBUG: ${{ inputs.debug && '--debug' || '' }}
        run: |
          bash scripts/ci/validate-github-actions-pinned.sh $DRY_RUN $DEBUG
