name: "Validate Gradle Wrapper"

on:
  pull_request:

permissions:
  contents: read

jobs:
  validate-gradle:
    name: "validate-gradle"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
