name: "Validate Gradle Wrapper"

on:
  pull_request:

permissions:
  contents: read

jobs:
  validate-gradle:
    name: "validate-gradle"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: gradle/actions/wrapper-validation@8379f6a1328ee0e06e2bb424dadb7b159856a326 # v4.4.0
