name: "Validate Gradle Wrapper"

on:
  pull_request:

permissions:
  contents: read

jobs:
  validate-gradle:
    name: "validate-gradle"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
